<a href="https://colab.research.google.com/github/AmmarJamshed/DA_Bootcamp_AugtoOct2024/blob/main/class_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

# Python operators

In [ ]:
#- / *vjsrtg09shjwa0jr4p
2 + 2

SyntaxError: invalid syntax (<ipython-input-9-d1ba612ef26c>, line 1)

In [ ]:
# subtraction
2 - 2

0

In [ ]:
# Multiplication
2*2

4

In [ ]:
# division
2 / 2

1.0

In [ ]:
# Modulo
2%100

2

In [ ]:
# 2% increase in a 100 dollars on a monthly basis for two years equates how much
out = 100 * (1.1)**7
print(out)

194.87171000000012

In [ ]:
age = 25

In [ ]:
print(age)

25

In [ ]:
# types of vars
string = "Name"
Integer = 25
Float = 25.5
Boolean = True or False or None

In [ ]:
name = "Ammar"
age = int(12.5)

In [ ]:
type(age)

int

In [ ]:
results = '12'
saving = '30'
print("I have achieved good $" + str(results) + " with good $" + str(saving))

I have achieved good $12 with good $30

In [ ]:
age = 20
height = 5.9
print("My age is " + str(age) + " and my height is " + str(height))

My age is 20 and my height is 5.9

In [1]:
growth_mult = 1.1
money = 100
result = money * growth_mult**7
print(result)

194.87171000000012

In [2]:
desc = "compound interest"

In [3]:
print(desc)

compound interest

In [4]:
# print your name, age, height
name = 'Ammar'
age = 27
height = 5.9
print("My name is " + name + ", I am " + str(age) + " years old and I am " + str(height) + " feet tall")

My name is Ammar, I am 27 years old and I am 5.9 feet tall

# list

In [7]:
a = 'Ammar'
b = 'male'
c = '5.9'
d = '27'
new_list = [a,b,c,d]
print(new_list)

['Ammar', 'male', '5.9', '27']

In [6]:
# 7 different ages of people
ages = [12,56,87,32,11,90,12]
print(ages)

[12, 56, 87, 32, 11, 90, 12]

In [9]:
# create a list with a city name, temp, size and wheter its a city or not
cities = [['Khi', 'Sukk', 'mir'], ['lhr', 'fslb', 'mul'], ['pesh', 'tax', 'Abt']]
print(cities)

[['Khi', 'Sukk', 'mir'], ['lhr', 'fslb', 'mul'], ['pesh', 'tax', 'Abt']]

In [15]:
name = 'Ammar'
print(name[1:3])

mm

# slicing and dicing

In [33]:
sent =  ['I' ,'am','lord' ,'Voldermort']
# print Voldermort
print(sent[1])

am

In [34]:
del(sent[1])

In [35]:
sent

['I', 'lord', 'Voldermort']

In [22]:
# concatenation
print(var1 + var2)

I am lord Voldermort

In [26]:
print(sent[-3:])

ort

In [30]:
sent[10:] = list("Ammar")
sent = ''.join(sent)

TypeError: 'str' object does not support item assignment

In [ ]:
# create a list of 3 cities in pak, ind and bang