<a href="https://colab.research.google.com/github/AmmarJamshed/DA_Bootcamp_AugtoOct2024/blob/main/class_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello World")

Hello World

# Python operators

In [9]:
#- / *vjsrtg09shjwa0jr4p
2 + 2

SyntaxError: invalid syntax (<ipython-input-9-d1ba612ef26c>, line 1)

In [10]:
# subtraction
2 - 2

0

In [11]:
# Multiplication
2*2

4

In [12]:
# division
2 / 2

1.0

In [14]:
# Modulo
2%100

2

In [26]:
# 2% increase in a 100 dollars on a monthly basis for two years equates how much
out = 100 * (1.1)**7
print(out)

194.87171000000012

In [22]:
age = 25

In [23]:
print(age)

25

In [27]:
# types of vars
string = "Name"
Integer = 25
Float = 25.5
Boolean = True or False or None

In [41]:
name = "Ammar"
age = int(12.5)

In [42]:
type(age)

int

In [40]:
results = '12'
saving = '30'
print("I have achieved good $" + str(results) + " with good $" + str(saving))

I have achieved good $12 with good $30

In [49]:
age = 20
height = 5.9
print("My age is " + str(age) + " and my height is " + str(height))

My age is 20 and my height is 5.9